/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$blue: #3bbfce;
$margin: 16px;



.content-navigation {
  border-color: blue;
  color:
    darken(blue, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}

#menu {
  background-color: blue;
}


div#menu {
  background-color: green;
}

#menu a {font-size: 20px;}

a {font-size: 24px;}

a.operation { background-color: red; }
