<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Summary</th>
    <th>Description</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= render(@reviews) || 'There are no reviews available.' %>
</table>


<br />

<%= link_to 'New Review', new_review_path %>
